# This is a sample config.properties for use with development systems.  Copy it to config.properties and change passwords as needed.
#Sample for Postgresql connection
db.driver=org.postgresql.Driver
db.url=jdbc:postgresql:buddilive
db.user=buddilive
db.password=password
db.query=select 1