body {
	background-color: #bebec2;
	width: 100%;
	font-family: tahoma, arial, verdana, sans-serif;
	font-size: 0.75em;
	margin: 0px;
	padding: 0px;
	min-width: 1024px;
}

div.background-top {
	position: absolute;
	background: url('../img/login-pinstripe.png') repeat-x bottom;
	margin: 0;
	padding: 0;
	top: 0px;
	height: 150px;
	width: 100%;
	z-index: -1;
}

div.background-bottom {
	position: absolute;
	background: url('../img/login-gradient.png') repeat-x top;
	top: 150px;
	height: 500px;
	width: 100%;
	z-index: -2;
}

div.title {
	position: absolute;
	background: url('../img/logo-title.png') no-repeat 100px 5px;
	width: 100%;
	height: 150px;
	top: 0px;
}

div.version-info {
	position: absolute;
	right: 30px;
	top: 20px;
	text-align: right;
}
div.version-info, div.version-info a:link, div.version-info a:visited, div.version-info a:active, div.version-info a:hover {
	color: #666;
}

div#loginform {
	float: right;
	width: 500px;
	height: 250px;
	margin: 20px;
	padding: 0px;
	box-shadow: 0px 0px 60px #444;
}

div.messages {
	margin: 20px;
	margin-top: 160px;
	font-size: 1.2em;
	text-align: justify;
}

h1 {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}
h2 {
	font-size: 1.1em;
	font-weight: bold;
}
a:link, a:visited, a:active {
	color: #00005e;
}
a:hover {
	color: #1f1faa;
}
p {
	margin: 1em;
}
ul {
	margin: 1em;
	margin-left: 2em;
}
li {
	margin: 1em;
}
